{% extends "base.html" %}
  {% block title %}Об авторе проекта{% endblock %}
  {% block content %}
    {% load static %}

    <h1>Привет, я Наташа</h1>
    <br>
    <p align="center">
      Я учусь в Высшей школе экономики на программе «Медиакоммуникации». С детства у меня была тяга к программированию и точным наукам, <br>
      но в 9 классе я устроила подростковый бунт, и вот я уже сижу среди гуманитариев и не знаю, что делать со своей жизнью. <br>
      К счастью, Яндекс очень сильно помогает мне чувствовать себя человеком и возвращаться в техническую среду.
    </p>
    <br>
    <p>
    <img src="{% static "img/sheldon.jpg" %}" heigth = "74" width = "148" align="right", hspace="100">
    </p>
    <p align="left">
      Программировать мне помогает малыш-Шелдон, который стоит на столе рядом с ноутом.<br>
      У меня есть всего одна фигурка funko pop, и это именно Шелдон, потому что его фигура очень <br>
      важна для меня. Я думаю, мы во многом с ним похожи.
      <br>
      <br>
      Вообще я преподаю самые основы питона своим сокурсникам (потому что они завалили экзамен, и теперь у <br>
      них будет пересдача). И всем я советую завести кошку/резиновую уточку/фигурку, чтобы объяснять <br>
      ей код вслух.
    </p>
    <br>
    <p>
    <img src="{% static "img/pima.jpg" %}" heigth = "74" width = "148" align="left", hspace="100">
    </p>
    <p align="right">
      Также у меня есть прекрасная кошечка по имени Пима дель Боро Анна Домина. <br>
      Мы взяли её примерно 11 лет назад из питомника, поэтому у неё такое длинное и красивое имя. <br>
      Конечно же, дома мы зовём её Пима.
      <br>
      <br>
      Пима очень часто спит у меня на столе или на ногах, когда я что-то делаю в ноутбуке. <br>
      Это маленькое миленькое существо вдохновляет меня, <br>
      именно под её чутким руководством я учила французский, корейский, а потом и питон
      <br>
      <br>
    </p>

  {% endblock %}