{% extends "base.html" %}
{% load thumbnail %}
{% block title %} Пост {{ post.text|truncatechars:30 }} {% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
        <li class="list-group-item">
          {% if post.group %}
            Группа: {{ post.group.title }}
            <a href="{% url 'posts:group_post' post.group.slug %}">
              все записи группы
            </a>
          {% endif %}
        </li>
        {% include 'posts/includes/card_post.html' %} 
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        {{ post.text|linebreaksbr }}
      </p>
    </article>
    {% include 'posts/includes/add_comment.html' %}
  </div> 
{% endblock %}